@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #1e5bdc;
  --foreground: #1e5bdc;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #1e5bdc;
    --foreground: #000000;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
